<!DOCTYPE html>
<html>

<head>
    <title>Component lot list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>List / update component lot</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date Received</th>
                <th>Date Code</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            {% for lot in lots %}
            <tr>
                <td>{{ lot.id }}</td>
                <td>{{ lot.type }}</td>
                <td>{{ lot.date_received }}</td>
                <td>{{ lot.date_code }}</td>
                <td>{{ lot.quantity }}</td>
                <td><a href="{{ url_for('lot_update', lot_id=lot.id) }}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('menu') }}">Return to Menu</a>
    </div>
</body>

</html>